@font-face {

    font-family:'NanumGothic';
    src: url('../fonts/NanumGothic.eot');
    src: url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),

         url('../fonts/NanumGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
	font-family:'NanumGothic' !important; 
	font-size: 11.5px !important;
	font-weight: 600 !important;   
	text-decoration:none !important; 
}

#commitMassage{
	height: 145px !important; 
	width: 100% !important; 
	font-size:12px !important;
}

#branchName{
	font-size:12px !important;
}

h3{
	 text-align : center;
}

.title{
	cursor:default;
}

a[data-role="button"] {
	height: 36px
}

.ui-btn-inner {
	padding-top: 9px
}

.ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner{
	padding-top: 9px;
	padding-bottom: 9px;
}

.ui-header .ui-title {
	padding-top: 6px;
	font-size: 13.4px !important;
}
